.category {
    display: flex;
    padding: 0 24px;
    flex-direction: column;
    gap: 24px;

}
.card-item{
  color: var(---text-secondary-color);
  background-color: transparent;
  weight:312px;
  height: 180px;
  box-sizing: border-box;

  border-radius: 16px;
  text-align: center;
  justify-content:center;
} 

.section-title h2 {
  line-height: 27px;
  align-items: center;
  padding-top: 60px;
}

@media screen and (min-wdith: 1024px) {
  .icone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
  }

}
