.offers-cards{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:24px;
}

.section-title h2{
  line-hight:27px; 
  align-itens:center;
}
.offers-cards{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.card{
    color: var(---text-secondary-color);
    background-color:black;
    width:312px;
    height:280x;
    box-sizing: border-box; 
    padding:20px 30px;
    border-radius:16px;
    text-align: center;

}



.card header{
    display: block;
    background-color: transparent;
    position: static;
    padding: 0;
    margin-bottom: 24px;    
} 

.card header p{
    font-size: 20px;
    font-weight: var(--title-weight)
}


.card header h3{
    font-size: 35px;
    font-weight: var(--title-weight);
    margin-top:8px 18px;
}


.card header span{
    font-size: 32px;
    margin-top:30px; 
    
    display:inline-blopck;
}

.card.japao{

  background: url('./img/bg-card-japao.png') no-repeat;
  background-size: 120% ;  
  
}
.card.san-andreas{
 
  background: url('./img/bg-card-san-andreas.jpg') no-repeat;
  background-size: 110% ; 

  
}
.card.paraiba{
 
  background: url('./img/bg-card-paraiba.jpg') no-repeat;
   background-size: 110% ; 
}
.card.manaus{

  background: url('./img/bg-card-manaus.jpg') no-repeat;
   background-size: 105% ; 
  
}

@media screen and (min-width:768px){
.offers-cards{
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
}
}

@media screen and (min-wdith:1024px){
  .card{
    width: 588px;
    height: 308px;
  }
  .card header h3{
    font-size: 46px;
}

.card header span{
    font-size: 40px;
}

}