.bag {
  grid: bag;
}
.passport {
  grid: passport;
}

.people {
  grid: people;
}

.payments .image-content {
  display: grid;
  grid-template-areas:
    "bag passport"
    "people people";
  gap: 24px;

  margin-top: 24px;
}

.image-content .content-container {
  display: flex;
  justify-content: space-between;
}
.image-content .content-container .image.bag {
  background-image: url('img/montagemfoto01Mobile.png') no-repeat;
  background-size: cover;
   width: 350px;
  height: 550px;
  border-radius: 8px;
}
.image-content .content-container .image.passport {
  background-image: url('img/montagemfoto02Mobile.png');
  background-size: cover;
   width: 350px;
  height: 550px;
  border-radius: 8px;
}
.image-content .content-container .image.people {
  background-image: url('img/montagemfoto03Mobile.png');
  background-size: cover;
   width: 350px;
  height: 550px;
  border-radius: 8px;
}

.image-content .content-container .image.colspan-2 {
  grid-column: span 2;
}

.payments .content-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768) {
  .image.bag {
    background-image: url(./img/montagemfoto01Tablet.png);
    background-size: cover;
  }
  .image.passport {
    background-image: url(./img/montagemfoto02Tablet.png);
    background-size: cover;
  }
  .image.people {
    background-image: url(./img/montagemfoto03Tablet.png);
    background-size: cover;
  }
}
@media screen and (min-width: 1440px) {
  .payments .text-content {
    width: 360px;
  }
  .payments .image-gallery {
    width: 790px;
  }
}
