.testimonials {
  display: flex;
  flex-direction: column;
}

.testimonials div.testimonials-container{
  display:flex;
  flex-direction: column;
  gap:32px
}

.testimonials div.testimonials-container article{
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}

.testimonials div.testimonials-container article header p {
 width:312px;
 height:auto;
 font-size: 16px;
 line-height: 30px;
}

.testimonials article footer{
  display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-top: 20px;
    width: 286px;
    height: 86px;
    gap: 24px;
}

.testimonials article footer div.profile-content h4{
     font-size: 20px;
    width: auto;
    margin-left: auto;
}

.testimonials article footer div.profile-content div.rating{
  display: flex;       /* Alinha as estrelas em linha perfeitamente */
  gap: 4px; 

}

.testimonials article footer div.profile-content div.rating span.star{
  font-size: 32px;     /* Aumente ou diminua aqui para chegar no tamanho do Figma */
  color: #E11D48;      /* Use a cor vermelha exata do seu root (--secondary-color ou similar) */
  line-height: 1; 
}


.testimonials .testimonials-container article footer img.img-testiomonials{
    width: 86px;
    height: 86px;
     border-radius: 50%; 
     object-fit: cover;  
}